{% load tree_extras %}

<details>
    <summary>{{ tree|get_item:app_id|get_key:"app_name" }} ({{ app_id }})</summary>

    {% with tree|get_item:app_id as app %}
    {% if app|get_key:"instances" %}
    <ul>
        {% for inst in app|get_key:"instances" %}
        <li>
            <strong>{{ inst.instance_name|default:"Unnamed" }}</strong>
            <div class="instance-meta">
                Env: {{ inst.environment }} |
                Install: {{ inst.install_type }}<br>
                Service: {{ inst.service_name }} |
                Jira: {{ inst.jira_backlog_id }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if app|get_key:"children" %}
    <ul>
        {% for child_id in app|get_key:"children" %}
        <li>
            {% include "services/_app_node.html" with app_id=child_id tree=tree %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</details>
